.header {
  display: inline-flex;
  background-color: #d63031;
  color: white;
  padding: 1rem;
  width: 100%;
}
.container {
  margin: 1rem;
  .user {
    display: flex;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .info{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        .role{
            color: #636e72;
            font-size: small;
        }
    }
  }

  .createTime{
      color: #636e72;
      font-size: small;
  }
}
.rate {
  display: inline-flex;
}
.users {
  display: inline-flex;
  margin-left: 1.5rem;
}
.user-number {
  margin-left: 0.5rem;
}
.card-text {
  margin-left: 0.5rem;
}
.badge {
  margin: 0.5rem;
}
.information {
  margin: 0.3rem 0;
  p {
    display: inline;
  }
}
.btn {
  width: 90%;
  margin-top: 1rem;
}

.warning{
  display: flex;
  margin-top: 15rem;
  text-align: center;
}
.alert{
  width: 80%;
  margin: auto;
}
