<div class="header" routerLink="/profile">
    <img
      src="../../../../assets/icons/chevron-left-white.svg"
      alt="backward"
    />
    <span>My Comments</span>
</div>
<ul  class="comments-group">
    <li  class="comments-group-item" *ngFor="let item of demands">
        <div class="card-body" *ngIf="item">
            <h5 class="card-title">{{ demand.name }}</h5>
            <!-- Demand's information -->
            <div class="information">
                <img src="../../assets/icons/phone.svg" alt="phone" />
                <p class="card-text">{{ demand.phone }}</p>
            </div>
            <div class="information">
                <img src="../../assets/icons/clock.svg" alt="date" />
                <i class="card-text">Created at {{ demand.deadline }}</i>
            </div>
            <div class="information">
                <img src="../../assets/icons/info.svg" alt="description" />
                <p class="card-text">{{ demand.description }}</p>
            </div>
            <hr />
            <div class="information">
                <img src="../../assets/icons/comment.svg" alt="comment" />
                <b>Comment: </b>
                <p class="card-text">{{ demand.comment }}</p>
            </div>
        </div>
    </li>
</ul>