<div class="myneed">
  <div class="title" routerLink="/profile/helps/state/3">
    <h5>My Helps</h5>
    <p>View All Helps</p>
    <img src="../../../assets/icons/chevron-right.svg" alt="need" />
  </div>
  <hr />
  <div class="need-detail">
    <div class="row">
      <div class="col" routerLink="/profile/helps/state/0">
        <img src="../../assets/icons/loader.svg" alt="need" />
        <p>Wait</p>
      </div>
      <div class="col" routerLink="/profile/helps/state/1">
        <img src="../../assets/icons/rotate-cw.svg" alt="need" />
        <p>Process</p>
      </div>
      <div class="col" routerLink="/profile/helps/state/2">
        <img src="../../assets/icons/flag.svg" alt="need" />
        <p>Completed</p>
      </div>
      <div class="col">
        <img src="../../assets/icons/award.svg" alt="need" />
        <p>Comment</p>
      </div>
    </div>
  </div>
</div>
