.main{
    background-color: #f2f2f2;
    height: 100vh;
}
.header{
    display: flex;
    background-color: #d63031;
    color: white;
    padding: 1rem;
    a{
        font-size: small;
        padding: 1rem 0 0 0;
        flex-grow: 2;
        text-align: right;
        color: blue;
    }
}
.avatar{
    width: 64px;
    height: 64px;
    border-radius: 50%;;
}
.info{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.myservice{
    margin: 1rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
    .title{
        display: flex;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;
        h5{
            padding-top: 1rem;
            flex-grow: 1;
        } 
        p{
            font-size: large;
            padding: 1rem 0 0 0;
            flex-grow: 2;
            text-align: right;
            color: #636e72;
        }
    }
    .service-detail{
        text-align: center;
        padding-right: 1rem;
        p{
            font-size: small;
        }
    }
}
.myneeding{
    margin: 1rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
    .title{
        display: flex;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;
        h5{
            padding-top: 1rem;
            flex-grow: 1;
        } 
        p{
            font-size: large;
            padding: 1rem 0 0 0;
            flex-grow: 2;
            text-align: right;
            color: #636e72;
        }
    }
    .needing-detail{
        text-align: center;
        padding-right: 1rem;
        p{
            font-size: small;
        }
    }
}
.child-menu{
    margin: 1rem;
    border-radius: 1rem;
    background-color: white;
    .func{
        display: flex;
        padding-left: 1rem;
        width: 100%;
        line-height: none;
        align-items: center;
        p{
            padding: 1rem 0 0 1rem;
        }
        .right-arrow{
            margin-left: auto;
            margin-right: 1rem;
        }

    }
}