<div class="main">
  <div class="header">
    <img src="../../../assets/images/avatar.png " alt="avatar" class="avatar" />
    <div class="info">
      <h5>Amelie</h5>
      <p>amelie@gmail.com
        <!-- <a>log out</a> -->
      </p>      
    </div>
  </div>
  <div class="myservice">
    <div class="title">
      <h5>Demand Service</h5>
      <!-- <p>View All Demand</p> -->
      <img src="../../../assets/icons/chevron-right.svg" alt="service" />
    </div>
    <hr />
    <div class="service-detail">
      <div class="row">
        <div class="col-4">
          <img src="../../../assets/icons/loader.svg" alt="service" />
          <p>Processing</p>
        </div>
        <div class="col-4">
          <img src="../../../assets/icons/rotate-cw.svg" alt="service" />
          <p>Completed</p>
        </div>
        <div class="col-4">
          <img src="../../../assets/icons/flag.svg" alt="service" />
          <p>Cancelled</p>
        </div>
        <!-- <div class="col-3">
          <img src="../../assets/icons/award.svg" alt="service" />
          <p>Comment</p>
        </div> -->
      </div>
    </div>
  </div>
  <div class="myservice">
    <div class="title">
      <h5>My Needing</h5>
      <!-- <p>View All Demand</p> -->
      <img src="../../../assets/icons/chevron-right.svg" alt="needing" />
    </div>
    <hr />
    <div class="service-detail">
      <div class="row">
        <div class="col-4">
          <img src="../../../assets/icons/loader.svg" alt="needing" />
          <p>Published</p>
        </div>
        <div class="col-4">
          <img src="../../../assets/icons/rotate-cw.svg" alt="needing" />
          <p>Completed</p>
        </div>
        <div class="col-4">
          <img src="../../../assets/icons/flag.svg" alt="needing" />
          <p>Cancelled</p>
        </div>
      </div>
    </div>
  </div>
  <div class="myservice">
    <hr />
    <div class="service-detail">
      <div class="row">
        <div class="col-4">
          <img src="../../assets/icons/users.svg" alt="contacts" />
          <p>My contacts</p>
        </div>
        <div class="col-4">
          <img src="../../../assets/icons/award.svg" alt="ranking" />
          <p>Received comments</p>
        </div>
        <div class="col-4">
          <img src="../../../assets/icons/flag.svg" alt="needing" />
          <p>My ranking</p>
        </div>
      </div>
    </div>  
  </div>

  <div class="child-menu">
    <div class="func">
      <img src="../../../assets/icons/help-circle.svg" alt="help" />
      <p>Customer Center</p>
      <img
        src="../../../assets/icons/chevron-right.svg"
        alt="service"
        class="right-arrow"
      />
    </div>
    <div class="func">
      <!-- <img src="../../../assets/icons/help-circle.svg" alt="help" /> -->
      <p>Log out</p>
      <img
        src="../../../assets/icons/chevron-right.svg"
        alt="service"
        class="right-arrow"
      />
    </div>
  </div>
</div>
