<div class="card">
    <div class="card-body header">
        <div class="input-group">
            <div class="input-group-prepend">
              <img src="../../assets/icons/search.svg" alt="search" class="searchIcon">
            </div>
            <input type="text" class="form-control search-input" placeholder="Demand" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>    
    <ul class="list-group">
        <li class="list-group-item"  *ngFor="let group of groupList">
           <div class="card-body">
               <h5 class="card-title">Demand 1</h5>
               <div class="information">
                <img src="../../assets/icons/phone.svg" alt="phone">
                <p class="card-text">(415)000-0001</p>
               </div>
               <div class="information">
                <img src="../../assets/icons/map-pin.svg" alt="need">
                <p class="card-text">Beijing China</p>
               </div>
               <div class="information">
                <img src="../../assets/icons/clock.svg" alt="need">
                <p class="card-text">2020/08/21</p>
               </div>
               <div class="information">
                <img src="../../assets/icons/info.svg" alt="need">
                <p class="card-text">Asking someone to help buying water</p>
               </div>
               <div>
                <span class="badge badge-danger">No Money</span>
                <span class="badge badge-danger">No Supplies</span>
               </div>      
           </div> 
        </li>
    </ul>
  </div>
  <div class="addButton">
    <img src="../../assets/icons/plus-circle.svg" alt="addDemand">
  </div>