<div class="main">
  <div class="header">
    <ng-container *ngIf="user">
      <img src="{{ user.avatar.url }}" alt="avatar" class="avatar" />
      <div class="info">
        <h5>{{ user.username }}</h5>
        <p>{{ user.email }}</p>
      </div>
      <img
        src="../../assets/icons/settings.svg"
        alt="settings"
        class="settings"
        routerLink="/profile/settings"
      />
    </ng-container>
  </div>
  <app-demands></app-demands>
  <app-helps></app-helps>
  <div class="child-menu">
    <div class="func">
      <img src="../../../assets/icons/box.svg" alt="collection" />
      <p>My Collection</p>
      <img
        src="../../../assets/icons/chevron-right.svg"
        alt="need"
        class="right-arrow"
      />
    </div>
  </div>

  <div class="child-menu">
    <div class="func">
      <img src="../../../assets/icons/box.svg" alt="collection" />
      <p>Privacy Settings</p>
      <img
        src="../../../assets/icons/chevron-right.svg"
        alt="need"
        class="right-arrow"
      />
    </div>
  </div>

  <div class="child-menu">
    <div class="func">
      <img src="../../../assets/icons/help-circle.svg" alt="help" />
      <p>Customer Center</p>
      <img
        src="../../../assets/icons/chevron-right.svg"
        alt="need"
        class="right-arrow"
      />
    </div>
  </div>
</div>
