<div class="card">
  <div class="card-body header">
    <div class="input-group">
      <div class="input-group-prepend">
        <img
          src="../../assets/icons/search.svg"
          alt="search"
          class="searchIcon"
        />
      </div>
      <input
        type="text"
        class="form-control search-input"
        placeholder="Demand"
        aria-label="Username"
        aria-describedby="input demand"
      />
      <div class="input-group-append" routerLink="/demand/add" routerLinkActive="activate">
        <img
          src="../../assets/icons/plus-circle.svg"
          alt="search"
          class="plusIcon"
        />
      </div>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let demand of demands">
      <div class="card-body" [routerLink]="['/demand/', demand.id]">
        <h5 class="card-title">{{ demand.name }}</h5>
        <div class="information">
          <img src="../../assets/icons/phone.svg" alt="phone" />
          <ng-container *ngIf="userRole == 'volunteer'; else hidephone">
            <p class="card-text">{{ demand.phone }}</p>
          </ng-container>
          <ng-template #hidephone>
            <p class="card-text">********</p>
          </ng-template>
        </div>
        <div class="information">
          <img src="../../assets/icons/map-pin.svg" alt="need" />
          <ng-container *ngIf="userRole == 'volunteer'; else hidephone">
            <p class="card-text">{{ demand.location }}</p>
          </ng-container>
          <ng-template #hidephone>
            <p class="card-text">********</p>
          </ng-template>
        </div>
        <div class="information">
          <img src="../../assets/icons/clock.svg" alt="need" />
          <p class="card-text">{{ demand.deadline }}</p>
        </div>
        <div class="information">
          <img src="../../assets/icons/info.svg" alt="need" />
          <p class="card-text">Asking someone to help buying water</p>
        </div>

        <!-- Show tags key-->
        <ng-container *ngIf="demand.tagsKey">
          <ng-container *ngFor="let key of demand.tagsKey">
            <span
              *ngIf="demand.tags[key] === 'very'"
              class="badge badge-danger"
              >{{ key }}</span
            >
            <span
              *ngIf="demand.tags[key] === 'normal'"
              class="badge badge-warning"
              >{{ key }}</span
            >
          </ng-container>
        </ng-container>
      </div>
    </li>
  </ul>
</div>
