<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="inputUsername"
      formControlName="username"
      required
    />
    <div
      *ngIf="username.invalid && (username.dirty || username.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="username.errors.required">
        Username is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      id="inputEmail"
      formControlName="email"
      required
    />
    <div
      *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="email.errors.required">
        Email is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="inputPassword"
      formControlName="password"
      required
    />
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="password.errors.required">
        Password is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Repeat Password</label>
    <input
      type="password"
      class="form-control"
      id="repeatPassword"
      formControlName="repeatPassword"
      required
    />
    <div
      *ngIf="
        (signupForm.errors?.differentPassword ||
        repeatPassword.invalid) &&
        (repeatPassword.dirty || repeatPassword.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="repeatPassword.errors.required">
        Repeat password is required
      </div>
      <div *ngIf="signupForm.errors?.differentPassword">
        Different from password
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="document">Certification document</label>
    <input
      type="text"
      class="form-control"
      id="UploadDocument"
      formControlName="document"
      required
    />
    <div
      *ngIf="document.invalid && (document.dirty || document.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="document.errors.required">
        Certification document is required
      </div>
    </div>
    <button type="scan" class="btn btn-success btn-lg">Scan</button>
  </div>
  <button type="submit" class="btn btn-success btn-lg">Sign Up</button>
</form>
