.menu{
    position: fixed;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background-color: #f2f2f2;
    padding-top: 1rem;
    border-top: 0.5px solid #b2bec3;
}
.main{
    // height: 90%;
    margin-bottom: 5rem;
    overflow: auto;
}