<div class="main">
  <div class="header" routerLink="/profile">
    <img src="../../../assets/icons/chevron-left.svg" alt="backward" />
    <span class="title">Settings</span>
  </div>

  <div class="content">
    <div class="item">
      <span>Safety settings</span>
      <img
        src="../../assets/icons/chevron-right.svg"
        alt="need"
        class="right-arrow"
      />
    </div>
  </div>

  <div class="content">
    <div class="item">
      <span>Privacy</span>
      <img
        src="../../assets/icons/chevron-right.svg"
        alt="need"
        class="right-arrow"
      />
    </div>
    <div class="item">
      <span>Help</span>
      <img
        src="../../assets/icons/chevron-right.svg"
        alt="need"
        class="right-arrow"
      />
    </div>
    <div class="item">
      <span>About</span>
      <img
        src="../../assets/icons/chevron-right.svg"
        alt="need"
        class="right-arrow"
      />
    </div>
  </div>

  <div class="content">
    <div class="item" (click)="logout()">
      <span>Log out</span>
      <img
        src="../../assets/icons/chevron-right.svg"
        alt="need"
        class="right-arrow"
      />
    </div>
  </div>
</div>

