<div class="main">
    <div class="header">
        <img src="../../assets/images/avatar.png " alt="avatar" class="avatar">
        <div class="info">
            <h5>Amelie</h5>
            <p>amelie@gmail.com</p>
        </div>
    </div>
    <div class="myneed">
        <div class="title">
            <h5>My Need</h5>
            <p>View All Need</p>
            <img src="../../assets/icons/chevron-right.svg" alt="need">
        </div>
        <hr />
        <div class="need-detail">
            <div class="row">
                <div class="col-3">
                    <img src="../../assets/icons/loader.svg" alt="need">
                    <p>Wait</p>
                </div>
                <div class="col-3">
                    <img src="../../assets/icons/rotate-cw.svg" alt="need">
                    <p>Process</p>
                </div>
                <div class="col-3">
                    <img src="../../assets/icons/flag.svg" alt="need">
                    <p>Completed</p>
                </div>
                <div class="col-3">
                    <img src="../../assets/icons/award.svg" alt="need">
                    <p>Comment</p>
                </div>
            </div>
        </div>
    </div>

    <div class="child-menu">
        <div class="func">
            <img src="../../assets/icons/help-circle.svg" alt="help">
            <p>Customer Center</p>
            <img src="../../assets/icons/chevron-right.svg" alt="need" class="right-arrow">
        </div>
    </div>

    <div class="child-menu">
        <div class="func">
            <img src="../../assets/icons/help-circle.svg" alt="help">
            <p>Customer Center</p>
            <img src="../../assets/icons/chevron-right.svg" alt="need" class="right-arrow">
        </div>
    </div>

    <div class="child-menu">
        <div class="func">
            <img src="../../assets/icons/help-circle.svg" alt="help">
            <p>Customer Center</p>
            <img src="../../assets/icons/chevron-right.svg" alt="need" class="right-arrow">
        </div>
    </div>

    <div class="child-menu">
        <div class="func">
            <img src="../../assets/icons/help-circle.svg" alt="help">
            <p>Customer Center</p>
            <img src="../../assets/icons/chevron-right.svg" alt="need" class="right-arrow">
        </div>
    </div>
</div>