<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="inputUsername"
      formControlName="identifier"
      required
    />
    <div
      *ngIf="identifier.invalid && (identifier.dirty || identifier.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="identifier.errors.required">
        Username is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="inputPassword"
      formControlName="password"
      required
    />
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="password.errors.required">
        Password is required
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success btn-lg">Sign in</button>
  <small id="sign up" class="form-text text-muted"
    >You don't have an account? <a href="/auth/sign-up">Sign up</a></small
  >
</form>
