<div class="main" *ngIf="demands.length; else emptyNotify">
  <div class="header" routerLink="/profile">
    <img src="../../../assets/icons/chevron-left.svg" alt="backward" />
    <span class="title">My demands</span>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let demand of demands">
      <div class="card-body">
        <h5 class="card-title">
          <span>{{ demand.name }}</span>
          <span [ngSwitch]="demand.state" class="demandState">
            <span *ngSwitchCase="0">
              wait
            </span>
            <span *ngSwitchCase="1">
              process
            </span>
            <span *ngSwitchDefault>
              completed
            </span>
          </span>
        </h5>
        <div class="information">
          <img src="../../assets/icons/phone.svg" alt="phone" />
          <p class="card-text">{{ demand.phone }}</p>
        </div>
        <div class="information">
          <img src="../../assets/icons/map-pin.svg" alt="need" />
          <p class="card-text">{{ demand.location }}</p>
        </div>
        <div class="information">
          <img src="../../assets/icons/clock.svg" alt="need" />
          <p class="card-text">{{ demand.deadline }}</p>
        </div>
        <div class="information">
          <img src="../../assets/icons/info.svg" alt="need" />
          <p class="card-text">{{ demand.description }}</p>
        </div>

        <!-- Show tags key-->
        <ng-container *ngIf="demand.tagsKey">
          <ng-container *ngFor="let key of demand.tagsKey">
            <span
              *ngIf="demand.tags[key] === 'very'"
              class="badge badge-danger"
              >{{ key }}</span
            >
            <span
              *ngIf="demand.tags[key] === 'normal'"
              class="badge badge-warning"
              >{{ key }}</span
            >
          </ng-container>
        </ng-container>

        <button class="btn btn-primary" [routerLink]="['/profile/demands/edit', demand.id]">Edit</button>
        <button class="btn btn-danger" (click)="deleteDemandById(demand.id)">Delete</button>
      </div>
    </li>
  </ul>
</div>

<ng-template #emptyNotify>
  <div class="warning">
    <div class="alert alert-danger">
      You don't have demands now! Create new demand 
      <a href="/demand">Here</a>
    </div>
  </div>

</ng-template>
