<div class="card">
  <div class="card-body header">
    <div class="input-group">
      <div class="input-group-prepend">
        <img
          src="../../assets/icons/search.svg"
          alt="search"
          class="searchIcon"
        />
      </div>
      <input
        type="text"
        class="form-control search-input"
        placeholder="Volunteer group"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let group of vgroups" [routerLink]="['/vlist', group.id]">
      <div class="card-body">
        <h5 class="card-title">{{ group.name }}</h5>
        <div class="rate">
          <app-stars [ratedCount]=group.score></app-stars>
          <p class="card-text">{{ group.score }}({{ group.commentators }})</p>
        </div>
        <div class="users">
          <fa-icon [icon]="faUser"></fa-icon>
          <p class="card-text user-number">{{ group.size }}</p>
        </div>
        <div class="phone">
          <fa-icon [icon]="faPhoneAlt"></fa-icon>
          <p class="card-text">{{ group.phone }}</p>
        </div>
        <!-- group's need-->
        <div>
          <span class="badge badge-danger" *ngFor="let need of group.vneeds">{{ need.name }}</span>
        </div>
        <!-- group's tags-->
        <div>
          <span class="badge badge-warning">Fast</span>
        </div>
      </div>
    </li>
  </ul>
</div>
